@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* -------------- RESET --------------------- */
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --hue: 126;

  --color-primary: hsl(var(--hue), 58%, 34%);
  --color-secundary: hsla(var(--hue), 100%, 17%, 0.47);
  --color-alt: #002c4b;
  --color-background: hsl(235, 24%, 13%);

  --color-text: #ffffff;
}

/* -------------- SCROLLBAR EDIT --------------------- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
  user-select: none;
}

/* -------------- LOADING SCREEN --------------------- */
.overlay-loading::before,
.overlay-loading::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: var(--color-background);
  position: fixed;
  z-index: 999;
  transform-origin: top;
}

.overlay-loading::after {
  bottom: 0;
  transform-origin: bottom;
}

.hide-overlay-loading.overlay-loading::before,
.hide-overlay-loading.overlay-loading::after {
  animation: animateHideOverlay 1s ease-in-out forwards;
}

@keyframes animateHideOverlay {
  to {
    transform: scaleY(0);
  }
}

.hide-overlay-loading .loading {
  display: none;
}

.loading {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid var(--color-primary);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000;
  animation: spinner 1s cubic-bezier(1, 0.015, 0.295, 1.225) infinite;
}

@keyframes spinner {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* -------------- CONTAINER --------------------- */
.container {
  max-width: 1280px;
  height: 100vh;
  max-height: 720px;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -------------- HEADER --------------------- */
header {
  display: flex;
  align-items: center;
  gap: 6rem;
}

body.show-menu #btn-menu {
  transform: rotate(45deg);
}

#btn-menu {
  cursor: pointer;
  transition: 300ms;
}

#btn-menu rect:first-child {
  fill: var(--color-primary);
}

#btn-menu rect:nth-child(2) {
  fill: hsla(var(--hue), 68%, 21%, 1);
}

#btn-menu rect:last-child {
  fill: hsl(var(--hue), 10%, 23%);
}

body.show-menu .menu ul {
  display: flex;
}

.menu ul {
  display: none;
  align-items: center;
  gap: 1.5rem;
  opacity: 0;
  position: relative;
  left: -10%;
  animation: showMenuDesktop 300ms ease forwards;
}

@keyframes showMenuDesktop {
  to {
    left: 0;
    opacity: 1;
  }
}

.menu ul li a {
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  position: relative;
}

.menu ul li a::before,
.see-more > a:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 2px;
  width: 0;
  background-color: var(--color-primary);
  transition: 300ms ease-in-out;
}

.menu ul li a.active::before,
.menu ul li a:hover::before,
.see-more > a:last-child:hover::before {
  width: 100%;
}

/* -------------- TEXT --------------------- */
.text {
  margin-left: 2rem;
}

.text h3 {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text h1 {
  color: var(--color-text);
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 4.375rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-block: 0.85rem 1rem;
}

.text p {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  max-width: 24rem;
  opacity: 0.8;
}

.see-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.see-more span {
  display: inline-block;
  width: 5.25rem;
  height: 5.25rem;
  border: 2px solid #313031;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more svg {
  width: 1.6rem;
  position: absolute;
}

.see-more path {
  fill: var(--color-text);
}

.see-more span::before,
.see-more span::after {
  content: "";
  display: inline-block;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
}

.see-more span::before {
  border: 2px solid #464546;
}

.see-more span::after {
  position: absolute;
  background-color: var(--color-text);
  transform: scale(0);
  opacity: 1;
}

.see-more span:hover::after {
  animation: animateCircle 1s ease-in-out infinite;
}

.see-more a span i {
  position: absolute;
  color: var(--color-text);
  z-index: 1;
}

@keyframes animateCircle {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

.see-more > a {
  color: var(--color-text);
  font-weight: 700;
  font-size: 1rem;
  position: relative;
}

/* -------------- PROGRESS BAR --------------------- */
.progress-bar-page {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar-page small {
  color: var(--color-text);
  font-size: 1rem;
}

.progress-bar-page span {
  display: inline-block;
  max-width: 15rem;
  width: 100%;
  height: 1px;
  background-color: #464546;
  position: relative;
}

.progress-bar-page span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: calc(100% / 3);
  height: 2px;
  background-color: var(--color-text);
}

/* -------------- CIRCLE --------------------- */
.bottom-circle {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: fixed;
  left: 50%;
  bottom: -6rem;
  z-index: -1;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.circle {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  display: flex;
  align-items: center;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: conic-gradient(
    from 142.31deg at 50% 50%,
    var(--color-secundary) -127.5deg,
    var(--color-alt) 35.62deg,
    var(--color-secundary) 232.5deg,
    var(--color-alt) 395.63deg
  );
  border: 1px solid var(--color-primary);
}

.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 142.31deg at 50% 50%,
    #258a2f -156.76deg,
    var(--color-alt) 23deg,
    var(--color-primary) 203.24deg,
    var(--color-alt) 383deg
  );
  filter: blur(347.507px);
}

.circle::after {
  content: "";
  width: 110%;
  height: 110%;
  background: conic-gradient(
    from 142.31deg at 50% 50%,
    var(--color-primary) -156.76deg,
    var(--color-secundary) 23deg,
    var(--color-primary) 203.24deg,
    var(--color-secundary) 383deg
  );
  filter: blur(579.179px);
  position: absolute;
  z-index: -1;
}

.circle img {
  width: 140%;
  position: absolute;
  left: -20%;
  object-fit: contain;
}

/* -------------- MEDIA QUERIES --------------------- */
@media screen and (max-width: 1024px) {
  .circle {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 976px) {
  .text {
    margin: 0;
  }

  .circle {
    right: 1rem;
    max-width: 25rem;
    max-height: 25rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
    max-height: 600px;
  }

  .circle {
    position: relative;
    left: 0;
    bottom: 0;
    transform: none;
    margin: 4rem auto 0;
  }

  .circle::after {
    width: 100%;
    height: 100%;
  }

  .circle img {
    width: 100%;
    left: 0;
  }

  .bottom-circle {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  body.show-menu {
    overflow-y: hidden;
  }

  #btn-menu {
    z-index: 11;
  }

  .menu ul {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: -10%;
    position: absolute;
    z-index: 10;
    padding-top: 3rem;
  }

  @keyframes showMenuDesktop {
    to {
      top: 0;
      opacity: 1;
    }
  }

  .circle {
    width: 100%;
    height: 100vw;
  }
}
